*.log
*.data
*.sh
data/
*.pkl
.DS_Store/
__pycache__/
*.pt
*.pth
.idea/
copy_memory/
submissions/
.ipynb_checkpoint/
*.ipynb
private_*
log/
DEQ-Sequence/LM*/
MDEQ-Vision/
presentations/
/DEQ-Sequence/wikitext-103/
/DEQ-Sequence/wikitext-2-v1/
